.row{
    width: 90%;
}
.col{
    
    
}
.card{
    margin: 10px;
    text-align: center;
    border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    transition: 2s;
}
.card:hover{
    box-shadow: 0px 0px 2px 1px gray;
}
.cart{
    background-color: rgb(211, 204, 204);
    min-height: 200px;
    padding: 20px;
    text-align: center;
}
table{
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: large;
}
tr,td{
    text-align: center;
}
